# Data Analysis with pandas

Today's session will introduce two libraries central to data analysis in python.

First things first: What is a library?

Python like any other programming language has a finite number of native functions. It does however allow anyone to write and share extentions. These are called "packages" or "libraries" and can usually be downloaded from the internet.

Anaconda comes with pandas and numpy pre-installed so we can get started immediately! If you have another python installation you might need to install the packages first to your machine.

Example code for installing:

`!pip install pandas`\
`!pip install numpy`

the ! operator sends a line of code from your markdown chunk to your terminal

In [ ]:
import pandas as pd

### 1 ) Back to data structures

What do we call these guys? Hint: If you can't remember use the `type()` function.

In [ ]:
x = ["Allmannsdorf",
    "Altstadt",
    "Fürstenberg",
    "Königsbau",
    "Paradies",
    "Petershausen-E",
    "Petershausen-W",
    "Wollmatingen"]


y = [5348,
    12138,
    12500,
    6181,
    6097,
    7248,
    16021,
    6775]

z = [1,2,"three", 4, 5, 6, "seven", 8]

Our objects are 1-dimensional but a lot of real-world data is 2-dimensional or tabular. How do we model this in python?

pandas introduces a new datatype called `DataFrames` for 2-dimensional data that consists of 1-dim. `Series`.

### Creating dataframes from existing data

To create a dataframe we can use existing objects like arrays, dictionaries and other dataframes but sticking to dictionaries is best for our purposes today.

In [ ]:
# Create a dictionary and use it as an argument to construct a df
KN_dict = {"Part":x,
           "Population":y,
           "Number": z}

df1 = pd.DataFrame(data = KN_dict)
#     pd.DataFrame({"Part":x, "Population":y, "Number": z}) # shorthand notation

print(df1.shape)
df1

The shape of our dataframe is (8, 3 ) meaning 8 rows and 3 columns. Each column is a pandas specific datatype called a `Series` . We can select columns by specifying the name, and row by specifying the index:

In [ ]:
print(type(df1['Population']))
df1['Population'] # Select column

In [ ]:
df1.iloc[1] # select row

In [ ]:
df1['Part'].iloc[2] # select col-row by location

In [ ]:
df1['Part'][2]  # This searches for index label! Can fail if you have messy indeces

We can evaluate logical statements on a pd Series object: This returns `True` for every part of town with more than 7000 people.

In [ ]:
df1['Population'] > 7000

Series are 1-dim arrays like lists, but they allow only one datatype. What happens when we create one from a mixed list like z?

In [ ]:
df1['Number']

We can make use of series and dataframes with pandas extensive methods catalogue, e.g basic statistics like min / max / mean / median.

In [ ]:
print('Mean:', df1['Population'].mean(),
      '\nMax:', df1['Population'].median())

### Exercise:
- Select the first element from the Population column
- Select the last row of the dataframe 
- print all names in the `Part` column
- How many people live in the biggest part of town?

In [ ]:
df1['Population'][0]

In [ ]:
df1.iloc[-1]

In [ ]:
for part in df1['Part']:
    print(part)

In [ ]:
df1['Population'].max()

## 2) Loading real world data

pandas has `read` and `write` functions that works with most common data filetypes such as
- `csv`
- `json`
- `sql`
- `excel`
- `stata`

In the most basic case we just specify a filepath and read in our data. If you use a relative filepath as we do in the example below, make sure to check that your file is actually in your working directory. 

Sometimes we have to specify certain arguments such as seperators or index columns.

In [ ]:
movies = pd.read_csv("imdb_top_1000.csv")

## 3) Inspecting our data

What methods does pandas offer us for a quick overview of our data?

In [ ]:
print(movies.shape)
movies.head(3)

In [ ]:
movies.info()

In [ ]:
movies.describe()

Let's check our column names.

"Series_Title" is too long for our taste. Let's rename it:

By assigning to the same name we overwrite our object, the old version of `movies` is now gone!

In [ ]:
movies.columns

In [ ]:
movies = movies.rename(columns={'Series_Title':'Title'})
movies.columns

Getting some more info on individual variables

In [ ]:
movies['Genre'].value_counts()

In [ ]:
movies['Director'].unique()

## 4) Subsets and Filtering

This is how we subset by specific variables: 
We can also subset our observations by selecting specifc columns. As we save to a different name, `movies` remains untouched.

A similar logic applies to sorting, where we either have to assign the sorted object to something or perform the operation inplace.

In [ ]:
times = movies[['Runtime', 'Title']]
times

In [ ]:
times.sort_values("Title") # This just prints a sorted df, object is unaltered

In [ ]:
# This actually assigns the sorted output but from back to front
times_sorted = times.sort_values("Title", ascending = False) 
times_sorted

Or subset by datatype

In [ ]:
numeric_movies = movies.select_dtypes(include = 'number')
numeric_movies

In [ ]:
numeric_movies.corr()

To filter your data by specific values we specify the condition in square brackets.

We filter by evaluating logical statements.
- Exactly matching values `==`
- comparing values `<` / `>`
- link conditions with: `&` (and) `|` (or)

- Drop undesired observations with `!=`

In [ ]:
movies_2014 = movies[movies['Released_Year'] == '2014']
movies_2014

In [43]:
top_movies = movies[movies['Meta_score'] > 99]
top_movies

,Poster_Link,Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
50,https://m.media-amazon.com/images/M/MV5BY2IzZG...,Casablanca,1942,U,102 min,"Drama, Romance, War",8.5,A cynical expatriate American cafe owner strug...,100.0,Michael Curtiz,Humphrey Bogart,Ingrid Bergman,Paul Henreid,Claude Rains,522093,"1,024,560"
81,https://m.media-amazon.com/images/M/MV5BNGUxYW...,Rear Window,1954,U,112 min,"Mystery, Thriller",8.4,A wheelchair-bound photographer spies on his n...,100.0,Alfred Hitchcock,James Stewart,Grace Kelly,Wendell Corey,Thelma Ritter,444074,"36,764,313"
116,https://m.media-amazon.com/images/M/MV5BYWY5Zj...,Lawrence of Arabia,1962,U,228 min,"Adventure, Biography, Drama",8.3,"The story of T.E. Lawrence, the English office...",100.0,David Lean,Peter O'Toole,Alec Guinness,Anthony Quinn,Jack Hawkins,268085,"44,824,144"
119,https://m.media-amazon.com/images/M/MV5BYTE4OD...,Vertigo,1958,A,128 min,"Mystery, Romance, Thriller",8.3,A former police detective juggles wrestling wi...,100.0,Alfred Hitchcock,James Stewart,Kim Novak,Barbara Bel Geddes,Tom Helmore,364368,"3,200,000"
124,https://m.media-amazon.com/images/M/MV5BYjBiOT...,Citizen Kane,1941,UA,119 min,"Drama, Mystery",8.3,Following the death of publishing tycoon Charl...,100.0,Orson Welles,Orson Welles,Joseph Cotten,Dorothy Comingore,Agnes Moorehead,403351,"1,585,634"
260,https://m.media-amazon.com/images/M/MV5BYTg1Mm...,Trois couleurs: Rouge,1994,U,99 min,"Drama, Mystery, Romance",8.1,A model discovers a retired judge is keen on i...,100.0,Krzysztof Kieslowski,Irène Jacob,Jean-Louis Trintignant,Frédérique Feder,Jean-Pierre Lorit,90729,"4,043,686"
274,https://m.media-amazon.com/images/M/MV5BZmQzMD...,Fanny och Alexander,1982,A,188 min,Drama,8.1,Two young Swedish children experience the many...,100.0,Ingmar Bergman,Bertil Guve,Pernilla Allwin,Kristina Adolphson,Börje Ahlstedt,57784,"4,971,340"
423,https://m.media-amazon.com/images/M/MV5BODFlYz...,Il conformista,1970,UA,113 min,Drama,8.0,A weak-willed Italian man becomes a fascist fl...,100.0,Bernardo Bertolucci,Jean-Louis Trintignant,Stefania Sandrelli,Gastone Moschin,Enzo Tarascio,27067,"541,940"
440,https://m.media-amazon.com/images/M/MV5BMjE5NT...,Sweet Smell of Success,1957,Approved,96 min,"Drama, Film-Noir",8.0,Powerful but unethical Broadway columnist J.J....,100.0,Alexander Mackendrick,Burt Lancaster,Tony Curtis,Susan Harrison,Martin Milner,28137,NaN
491,https://m.media-amazon.com/images/M/MV5BMTYzND...,Boyhood,2014,A,165 min,Drama,7.9,"The life of Mason, from early childhood to his...",100.0,Richard Linklater,Ellar Coltrane,Patricia Arquette,Ethan Hawke,Elijah Smith,335533,"25,379,975"
559,https://m.media-amazon.com/images/M/MV5BYTc1NG...,Notorious,1946,U,102 min,"Drama, Film-Noir, Romance",7.9,A woman is asked to spy on a group of Nazi fri...,100.0,Alfred Hitchcock,Cary Grant,Ingrid Bergman,Claude Rains,Louis Calhern,92306,"10,464,000"

In [44]:
top_2014 = movies[(movies['Released_Year'] == '2014')  &  (movies['Meta_score'] > 99) ]
top_2014

,Poster_Link,Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
491,https://m.media-amazon.com/images/M/MV5BMTYzND...,Boyhood,2014,A,165 min,Drama,7.9,"The life of Mason, from early childhood to his...",100.0,Richard Linklater,Ellar Coltrane,Patricia Arquette,Ethan Hawke,Elijah Smith,335533,"25,379,975"

In [45]:
he_messed_up_avatar = movies[movies['Director'] != 'M. Night Shyamalan' ]
len(he_messed_up_avatar)

999

### Exercise
- Create an object called df2 that includes only a movies title, director, IMDB rating and year

- Find the Steven Spielberg movie that audiences rated the lowest

- Which director appears the most on our data?

### Exercise (Difficult):
- Try to get the mean for the year of release variable.\
You will run into an issue! Use some of the methods introduced in 3) to find out whats wrong

In [47]:
df2 = movies[['Title', 'Director', 'Released_Year', 'IMDB_Rating']]
df2.head(2)

                      Title              Director Released_Year  IMDB_Rating
0  The Shawshank Redemption        Frank Darabont          1994          9.3
1             The Godfather  Francis Ford Coppola          1972          9.2

In [53]:
steve = movies[movies['Director'] == 'Steven Spielberg'].sort_values('IMDB_Rating')
steve.iloc[0]

Poster_Link      https://m.media-amazon.com/images/M/MV5BMjIxOT...
Title                                              Bridge of Spies
Released_Year                                                 2015
Certificate                                                     UA
Runtime                                                    142 min
Genre                                     Drama, History, Thriller
IMDB_Rating                                                    7.6
Overview         During the Cold War, an American lawyer is rec...
Meta_score                                                    81.0
Director                                          Steven Spielberg
Star1                                                    Tom Hanks
Star2                                                 Mark Rylance
Star3                                                    Alan Alda
Star4                                                     Amy Ryan
No_of_Votes                                                 287659
Gross                                                   72,313,754
Name: 890, dtype: object

In [54]:
movies['Director'].value_counts()

Director
Alfred Hitchcock    14
Steven Spielberg    13
Hayao Miyazaki      11
Martin Scorsese     10
Akira Kurosawa      10
                    ..
Neill Blomkamp       1
Tomas Alfredson      1
Duncan Jones         1
Jacques Audiard      1
George Stevens       1
Name: count, Length: 548, dtype: int64

In [56]:
movies['Released_Year'].unique()

array(['1994', '1972', '2008', '1974', '1957', '2003', '1993', '2010',
       '1999', '2001', '1966', '2002', '1990', '1980', '1975', '2020',
       '2019', '2014', '1998', '1997', '1995', '1991', '1977', '1962',
       '1954', '1946', '2011', '2006', '2000', '1988', '1985', '1968',
       '1960', '1942', '1936', '1931', '2018', '2017', '2016', '2012',
       '2009', '2007', '1984', '1981', '1979', '1971', '1963', '1964',
       '1950', '1940', '2013', '2005', '2004', '1992', '1987', '1986',
       '1983', '1976', '1973', '1965', '1959', '1958', '1952', '1948',
       '1944', '1941', '1927', '1921', '2015', '1996', '1989', '1978',
       '1961', '1955', '1953', '1925', '1924', '1982', '1967', '1951',
       '1949', '1939', '1937', '1934', '1928', '1926', '1920', '1970',
       '1969', '1956', '1947', '1945', '1930', '1938', '1935', '1933',
       '1932', '1922', '1943', 'PG'], dtype=object)

## 5) Data Manipulation


We can perform calculations and other manipulations directly on our columns / series objects.

Currently IMDB_Rating is measured from 1 to 10, thile Meta_score is from 1 to 100. Let's rescale our variable and assign it to a new column

In [57]:
movies_old = movies.copy() # This saves an actual copy instead of a reference --> needed for permanent changes

print(movies['IMDB_Rating'].mean(),
      movies['Meta_score'].mean())

7.949299999999999 77.97153024911032

By assigning `IMDB_rescaled` to a previously nonexistant column name, we create a new column.

In [58]:
IMDB_rescaled = movies['IMDB_Rating'] * 10
movies['IMDB_rescaled'] = IMDB_rescaled

print("Pre:", movies_old.shape)
print("Post:", movies.shape)

Pre: (1000, 16)
Post: (1000, 17)

In [59]:
print(movies['IMDB_rescaled'].mean(),
      movies['Meta_score'].mean())

79.493 77.97153024911032

Now that we know how to manipulate data and create subsets let's get back to our problem with the year variable.

In [60]:
movies_clean = movies[movies['Released_Year'] != 'PG'].copy()
movies_clean['Released_Year'] = pd.to_numeric(movies_clean['Released_Year'])

In [63]:
movies_clean['Released_Year'].mean()

1991.2172172172172

## 6) Replace and apply

We talked about the "simple" case of rowwise deletion to deal with problems in our data. But there are cases where we have to do some more work:

In [64]:
runtime_col = pd.to_numeric(movies_clean['Runtime'])

ValueError: Unable to parse string "142 min" at position 0

What we need to do is extract the relevant information or delete irrelevant entries like the unit in "123 min".  We can do this for every row simultaneously with the `str.replace()` method 

We specify a substring that should be replaced, and then specify a string with the replacement. The latter can be empty!

In [65]:
# replace 'min' with an empty string
movies_clean['Runtime_clean'] = pd.to_numeric(movies_clean['Runtime'].str.replace('min',''))
movies_clean['Runtime_clean']

0      142
1      175
2      152
3      202
4       96
      ...
995    115
996    201
997    118
998     97
999     86
Name: Runtime_clean, Length: 999, dtype: int64

Now for something more advanced: We introduced lambda functions last week if you can't remember check out the script!

The apply method applies a function along a chosen axis. For basic methods, pandas does this natively as we have seen above when rescaling `IMDB_Rating`. But for userdefined functions we need this step to let our machine know what we want. Let's break it down:

In [68]:
scarjo = movies[['Star1', 'Star2', 'Star3', 'Star4']].apply(lambda row: 1 if 'Scarlett Johansson' in row.values else 0, axis=1)
sum(scarjo)

9

We specify the columns we want to look at, and apply:

    - for every row:
        - If one of the specified columns contains the chosen string
            - set the row-value in the target object to 1
        - otherwise
            - set the value to 0

--> Result: A Series of length n, consisting of 0 and 1.

## Exercise

Work on movies_clean for this one

- Change the `Gross` column to a numeric variable. Perform any necessary manipulation
- Add the scarjo column to your dataframe

- Create a column that captures wether a movie is in the `Drama` category 
- Use the corr method to check out your cleaned variables 
<span style="color: transparent; transition: color 0.3s;">
(hint: numeric_only argument)
<\span>


 When you are done ues the write function to save your movies_clean dataframe as a file to your machine

In [ ]:
movies_clean.to_csv() # Specify your filename like 'name.csv'

## 7) Grouping and data

Real world data is often grouped and we are interested in crosstabs. Pandas introduces the .groupby() method for this purpose.

By “group by” we are referring to a process involving one or more of the following steps:

- Splitting the data into groups based on some criteria

- Applying a function to each group independently

- Combining the results into a data structure

In [ ]:
dir_group = movies_clean.groupby("Director")
dir_group

In [ ]:
dir_group.size()

In [ ]:
movies_clean['Director'].value_counts()

In [ ]:
dir_scores = dir_group.mean(numeric_only=True)['IMDB_rescaled'].sort_values(ascending=False)
dir_scores = pd.DataFrame(dir_scores)
dir_scores

As we can see here something is wrong: Instead of two columns we get one column and one index! We can force the index back to integers using the following method.

In [ ]:
dir_scores = pd.DataFrame(dir_scores).reset_index()
dir_scores

Group for multiple values:

In [ ]:
Genre_Year = movies_clean.groupby(['Genre', 'Released_Year']).mean(numeric_only=True)['IMDB_Rating']
Genre_Year_df = pd.DataFrame(Genre_Year).reset_index()
Genre_Year_df.head(5)

### Exercise:

- Movies with which Certificates (18+, all ages etc.) have the best critical reception? Wich ones have the best audience scores?